<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.soham.slugtutor">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:logo="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Start_Area.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Start_Area.StudentSignupActivity" />
        <activity
            android:name=".Start_Area.ExtendedSignUp"
            android:label="@string/title_activity_extended_sign_up"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".TEST.SOHAM_CRAP.StudentView" />
        <activity android:name=".TEST.SOHAM_CRAP.TutorView" />
        <activity android:name=".TEST.SOHAM_CRAP.MainStudentView"></activity>
        <activity android:name=".Main_Area.TEST.ContactActivity"></activity>
        <activity android:name=".Main_Area.TEST.MainScreen"></activity>
        <activity android:name=".Main_Area.ProfileActivity"></activity>
        <activity android:name=".Main_Area.Search.SearchActivity"></activity>
        <activity android:name=".Main_Area.SettingActivity"></activity>
        <activity android:name=".Main_Area.Search.DisplayInformationActivity"></activity>
    </application>

</manifest>